
@font-face {
    font-family: "NanumBarunpen";
    src: url(../font/NanumBarunpen.woff);
    font-weight: 400;
}
@font-face {
    font-family: "NanumBarunpen";
    src: url(../font/NanumBarunpen.woff);
    font-weight: 500;
}
@font-face {
    font-family: "NanumBarunpen";
    src: url(../font/NanumBarunpen.woff);
    font-weight: 600;
}
@font-face {
    font-family: "NanumBarunpen";
    src: url(../font/NanumBarunpen.woff);
    font-weight: 700;
}

@font-face {
    font-family: "nanumpen";
    src: url(../font/daaDSSYiLGqEal3MvdA_FOL_3FkN2zuWfsNNAlvx8XyriiBoA4Qt-85VRg.116.woff2);
    font-weight: 400;
}
/* @font-face {
    font-family: "nanumpen";
    src: url(../font//daaDSSYiLGqEal3MvdA_FOL_3FkN2zuWfsNNAlvx8XyriiBoA4Qt-85VRg.117.woff2);
    font-weight: 500;
}
@font-face {
    font-family: "nanumpen";
    src: url(../font/daaDSSYiLGqEal3MvdA_FOL_3FkN2zuWfsNNAlvx8XyriiBoA4Qt-85VRg.118.woff2);
    font-weight: 600;
}
@font-face {
    font-family: "nanumpen";
    src: url(../font/daaDSSYiLGqEal3MvdA_FOL_3FkN2zuWfsNNAlvx8XyriiBoA4Qt-85VRg.119.woff2);
    font-weight: 700;
} */