@import 'reset.css';
@import 'common.css';




header{
    width: 100%;
    position: absolute;
}
header .inner{}
header .inner h1{
    text-align: center;
    padding: 12px 0;
    margin-bottom: 20px;
}
header .inner h1 a{}

header nav{}
header nav ul{
    text-align: center;
}
header nav ul li{
    display: inline-block;
    padding: 0 32px;
}
header nav ul li a{
    font-size: 30px;
}

header button{
    position: fixed;
    top: 5%;
    right: 3%;
    display: block;
    cursor: pointer;

    background: none;
    border: 0;
}
header .ham.on{
    display: none;
}
header .h-menu{
    display: none;
    position: fixed;
    background: rgba(255, 237, 143, 0.7);
    width: 30%;
    top: 0;
    right: 0;
    height: 100%;
    margin: 0;
    text-align: left;
    padding: 60px 3%;
    box-sizing: border-box;
    z-index: 10;
    /* margin-right: -40%; */
}

header .h-menu.on{
    display: block;
    right: 0;
}

header .h-menu li{
    margin: 12px 0;
    line-height: 60px;
}
header .h-menu li a{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    color: #312828;
    display: block;
    padding: 4px 12px;
    
}
header .h-menu li a:hover{
    background: #fff;
}




header .h-menu .close{
    text-align: right;
font-family: 'Nanum Pen Script', cursive;
    font-size: 52px;
    color: #312828;
    margin-top: 60px;
    cursor: pointer;
}

header .h-menu .close:hover{
    opacity: 0.5;
}



/*  */

footer{
    background: #fff5bf;
    text-align: center;
    display: block;
    height: 180px;
    padding: 32px 0;
    box-sizing: border-box;
}
footer .inner{}
footer .inner ul{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .inner ul li{
    margin: 0 11px;
}
footer .inner ul li a{}

footer .copyright{}
footer .copyright p{
    color: #2e2e2e;
    font-family: 'NanumBarunpen';
    font-size: 18px;
    letter-spacing: -1px;
}


footer .scroll_top{
    position: fixed;
    cursor: pointer;
    position: fixed;
    right: 3%;
    bottom: 6%;
    background: none;
    border: 0;
}
footer .scroll_top img{}